# Entornos virtuales
plataforma_env/
.env

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de sistema
.DS_Store
Thumbs.db

# Configuración local / IDEs
.vscode/
*.suo
*.user
*.log

# Archivos de base de datos SQLite (si los hubiera)
*.sqlite3


.nixpacks/
